footer {
    width: 100%;
    position: static;
    height: 45px;
    top: 0;
    padding: 10px 5%;
}

footer p {
    text-align: center;
}

footer .iconos-footer {
    text-align: center;
    a {
        margin-inline: 1.1em;
        margin-bottom: 2.2em;
    }
}

@media screen and (min-width: 1024px) {
    footer {
        padding: 0;
    }
    footer p {
        margin-top: 2.25em;
        margin-left: 6.4em;
        width: auto;
        text-align: unset;
        font-size: 16px;
        float: left;
    }
    footer .iconos-footer {
        margin-top: 2.25em;
        margin-right: 6.4em;
        float: right;
    }
}